section .section-1 {
  padding: 70px 0 130px;
}
section .section-1 .section-text p {
  font-family: open sans;
  font-size: 64px;
  font-weight: 500;
  line-height: 83.2px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}
section .section-1 .section-text img {
  display: flex;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 40px;
}

aside .aside-1 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  aside .aside-1 {
    flex-direction: column;
    gap: 50px;
  }
}
aside .aside-1 .boxs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside .aside-1 .boxs .box {
  width: 420px;
  height: 110px;
  display: flex;
  gap: 25px;
  padding: 25px 20px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
}
@media (max-width: 451px) {
  aside .aside-1 .boxs .box {
    width: 350px;
    height: 100px;
    display: flex;
    gap: 25px;
    padding: 25px 20px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }
}
@media (max-width: 369px) {
  aside .aside-1 .boxs .box {
    width: 300px;
    height: 100px;
    display: flex;
    gap: 25px;
    padding: 25px 20px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }
}
@media (max-width: 313px) {
  aside .aside-1 .boxs .box {
    width: 280px;
    height: 100px;
    display: flex;
    gap: 25px;
    padding: 25px 20px;
    border-radius: 14px;
    border: 1px solid rgba(36, 36, 36, 0.1);
  }
}
aside .aside-1 .boxs .box .icon {
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(36, 36, 36, 0.05);
}
aside .aside-1 .boxs .box .icon img {
  padding: 20px 20px;
}
aside .aside-1 .boxs .box .box-pp p {
  font-family: Open Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}
aside .aside-1 .boxs .box .box-pp h1 {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: left;
}
aside .aside-1 .aside-text {
  max-width: 790px;
  height: 610px;
  padding: 40px;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.216);
}
aside .aside-1 .aside-text p {
  font-family: Open Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 34px;
  text-align: left;
  margin: 0 auto;
}
aside .aside-1 .aside-text h1 {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 16px;
  max-width: 565px;
}
aside .aside-1 .aside-text .aside-input {
  display: flex;
  gap: 20px;
}
aside .aside-1 .aside-text .aside-input-1 {
  display: flex;
  padding: 15px 0;
  gap: 20px;
}
aside .aside-1 .aside-text .input-1 {
  padding: 20px 0 111px 20px;
}
aside .aside-1 .aside-text button {
  padding: 16px 40px;
  border-radius: 39px;
  background-color: rgb(187, 35, 57);
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  color: white;
  margin-top: 43px;
  border: none;
  transition: 0.5s;
}
aside .aside-1 .aside-text button:hover {
  background-color: rgb(120, 17, 33);
  color: rgba(255, 255, 255, 0.729);
  box-shadow: inset 0px 0px 20px;
}

article {
  padding-top: 110px;
}
article .article p {
  font-family: open sans;
  font-size: 38px;
  font-weight: 500;
  line-height: 49.4px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
}
article .article .map .maps {
  display: flex;
  margin: 0 auto;
  width: 1050px;
  height: 600px;
}
@media (max-width: 1170px) {
  article .article .map .maps {
    width: 900px;
    height: 550px;
  }
}
@media (max-width: 913px) {
  article .article .map .maps {
    width: 700px;
    height: 510px;
  }
}
@media (max-width: 785px) {
  article .article .map .maps {
    width: 600px;
  }
}
@media (max-width: 703px) {
  article .article .map .maps {
    width: 500px;
    height: 510px;
  }
}
@media (max-width: 519px) {
  article .article .map .maps {
    width: 400px;
    height: 510px;
  }
}
@media (max-width: 419px) {
  article .article .map .maps {
    width: 350px;
    height: 210px;
  }
}
@media (max-width: 319px) {
  article .article .map .maps {
    width: 200px;
    height: 150px;
  }
}