section {
  .section-1 {
    padding-top: 70px;
    h1 {
      font-family: open sans;
      font-size: 64px;
      font-weight: 500;
      line-height: 83.2px;
      letter-spacing: 0.03em;
      text-align: center;
      margin: 0 auto;
      max-width: 100%;
    }
    img {
      display: flex;
      margin: 0 auto;
      padding: 8px 0 40px;
      max-width: 100%;
    }
    h2 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-align: left;
      margin: 0 auto;
      max-width: 720px;
      padding-bottom: 30px;
    }
    h3 {
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.04em;
      text-align: left;
      margin: 0 auto;
      max-width: 720px;
    }
  }
}
