.cards {
  .crads-text {
    padding-top: 70px;
    padding-bottom: 60px;
    p {
      font-family: open sans;
      font-size: 64px;
      font-weight: 500;
      line-height: 83.2px;
      letter-spacing: 0.03em;
      text-align: center;
      margin: 0 auto;
    }
    img {
      display: flex;
      margin: 0 auto;
    }
  }
  .crads_child {
    .col {
      .card {
        img {
          max-width: 100%;
        }
      }
      .card-body {
        h5 {
          font-family: open sans;
          font-size: 24px;
          font-weight: 500;
          line-height: 32px;
          text-align: left;
          max-width: 332px;
        }
        p {
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          max-width: 361px;
          margin: 0 auto;
          color: rgba(170, 170, 170, 1);
        }
        .p-h1 {
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          p {
            font-family: open sans;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.04em;
            text-align: left;
            color: rgba(187, 35, 57, 1);
            display: block;
          }
          h1 {
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 19.07px;
            text-align: left;
          }
        }
      }
    }
  }
}
